/* laisser le . au dé but du nom de fichier pour qu'il s'affiche toujours tout en  haut */  

* {
    margin: 0;
    padding: 0;
}

#menu {
    /* background-color:antiquewhite; */
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    z-index: 10;
}

#menu .logo {
    margin-top: 1%;
    margin-left: 1%;
    height: 90%;
    width: 13%;
}

.twomenu {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1%;
    width: 30%;
    height: 80%;
}

#connected-menu {
    position: absolute;
    height: 70%;
    right: 2%;
    top: 15%;
    width: 6%;
    display: flex;
    background-color: grey;
    cursor: pointer;
}

.avatar {
    background-color: white;
    height: 90%;
    width: 70%;
    border-radius: 50%;
    margin: auto 5%;
}

#connected-menu svg {
    height: 25%;
    width: 25%;
    margin: auto auto;
    padding-right: 5%;
}

#connectedmenucontent { display: none; }
#connectedmenucontent.open { display: block; }

#cm-container {
    background-color: white;
    position: absolute;
    position: fixed;
    right: 2%;
    margin-top: 5%;
    height: 35%;
    width: 15%;
    border: 2px solid black;
    color: black;
}

.blocker {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
}

.name {
    height: 30%;
    width: 90%;
    margin: 4% auto;
    -webkit-box-shadow: 1px 4px 15px 3px #000000; 
    box-shadow: 1px 4px 15px 3px #000000;
    text-align: center;
    display: flex;
}

.name p {
    margin: auto auto;
}

.profile {
    height: 30%;
    width: 90%;
    text-align: center;
    display: flex;
    margin: 5% auto;
    -webkit-box-shadow: 1px 4px 15px 3px #000000; 
    box-shadow: 1px 4px 15px 3px #000000;
}

.profile p {
    margin: auto auto;
}

.disconnect {
    bottom: 0;
    position: absolute;
    height: 25%;
    width: 100%;
    display: flex;
    background-color: red;
    border-top: 2px solid black;
}

.disconnect:hover {
    background-color: darkred;
}

.disconnect svg {
    height: 80%;
    width: 25%;
    margin: auto 2%;
}

.disconnect p {
    margin: auto 1%;
    font-size: 125%;
}

.btn-menu {
    width: 30%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1%;
    display:flex;
    font-size: 150%;
}

.btn-menu .signup {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

button {
    margin: 20px;
    outline: none;
}

.custom-btn {
    width: 50%;
    height: 10%;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-12{
    position: relative;
    right: 275%;
    bottom: 20px;
    border:none;
    width: 50%;
    height: 10%;
    line-height: 40px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.btn-12 span {
    display: block;
    position: absolute;
    width: 450%;
    height: 200%;
    border: 2px solid #000;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-12 span:nth-child(1) {
    font-size: 75%;
}

.btn-12 span:nth-child(2) {
    font-size: 75%;
}

.btn-12 span:nth-child(1) {
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-12:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-12:hover span:nth-child(2) {
    background: black;
    color: black;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}