/* laisser le . au dé but du nom de fichier pour qu'il s'affiche toujours tout en  haut */  



#menu {
    /* background-color:antiquewhite; */
    width: 100%;
    height: 13%;
    position: fixed;
    display: flex;
    z-index: 10;
}

#menu .logo {
    margin-top: 1%;
    margin-left: 1%;
    height: 90%;
    width: 13%;
}

.btn-menu .signin:after {
    display: block;
    content: '';
    border-bottom: solid 2px black;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%
}

.btn-menu .signin:hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
}

.twomenu {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5%;
    width: 30%;
    height: 80%;
}

#connected-menu {
    position: absolute;
    height: 70%;
    right: 2%;
    top: 15%;
    width: 6%;
    display: flex;
    background-color: grey;
    cursor: pointer;
}

.avatar {
    background-color: white;
    height: 90%;
    width: 70%;
    border-radius: 50%;
    margin: auto 5%;
}

#connected-menu svg {
    height: 25%;
    width: 25%;
    margin: auto auto;
    padding-right: 5%;
}

#connectedmenucontent { display: none; }
#connectedmenucontent.open { display: block; }

#cm-container {
    background-color: white;
    position: absolute;
    position: fixed;
    right: 2%;
    margin-top: 5%;
    height: 35%;
    width: 15%;
    border: 2px solid black;
    color: black;
}

.blocker {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.name {
    height: 30%;
    width: 90%;
    margin: 4% auto;
    -webkit-box-shadow: 1px 4px 15px 3px #000000; 
    box-shadow: 1px 4px 15px 3px #000000;
    text-align: center;
    display: flex;
}

.name p {
    margin: auto auto;
}

.profile {
    height: 30%;
    width: 90%;
    text-align: center;
    display: flex;
    margin: 5% auto;
    -webkit-box-shadow: 1px 4px 15px 3px #000000; 
    box-shadow: 1px 4px 15px 3px #000000;
}

.profile p {
    margin: auto auto;
}

.disconnect {
    bottom: 0;
    position: absolute;
    height: 25%;
    width: 100%;
    display: flex;
    background-color: red;
    border-top: 2px solid black;
}

.disconnect:hover {
    background-color: darkred;
}

.disconnect svg {
    height: 80%;
    width: 25%;
    margin: auto 2%;
}

.disconnect p {
    margin: auto 1%;
    font-size: 125%;
}

.btn-menu {
    width: 60%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 3%;
    display:flex;
    font-size: 150%;
    /* background-color: red; */
}

.btn-menu a {
    text-decoration: none;
    color: black;
    margin: 5% 5%;
    /* bottom: 0; */
}

.btn-menu .signup {
    /* margin-left: auto;
    margin-top: auto;
    margin-bottom: auto; */
    /* margin-right: 5%; */
    margin-left: 5%;
    margin-top: 15%;
    background-color: #008DDC;
    padding: 10%;
    width: 200%;
}

.signup {
    outline: none;
    border: 0;
    font-size: 70%;
    border-radius: 40px;
    transition: all ease 0.5s;
    cursor: pointer;
}

.signup:hover {
    background-color: #006198;
}

@media screen and (max-width: 800px) {
    .twomenu {
        margin-right: 23%;
    }
    .btn-menu a {
        /* width: 80%; */
        font-size: 20px;
    }
    .signup {
        padding: 0;
    }
}