@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');

#firsthalf {
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: #698EA2;
    z-index: -1;
}

#citation {
    width: 70%;
    height: 20%;
    /* background-color: red; */
    color: white;
    font-style: italic;
    font-family: 'Qwigley', cursive;
    margin: 20% auto;
}