body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.connexion {
    position: relative;
    width: 30vw;
    height: 50vh;
    background-color: rgb(254, 245, 236);
    border: 10px solid bisque;
}

.inscription {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(254, 245, 236);
    width: 25vw;
    margin: auto;
    border-radius: 3px;
    border: 10px solid bisque;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
}



#seConnecter {
    margin-top: 5vh;
    background-color: rgb(134, 134, 134);
}

#element {
    display: grid;
    justify-content: space-between;
    position: relative;
    margin-top: 5vh;
}



