body {
    background-color: #698EA2; 
    display: flex;
}

.profilcard {
    position:absolute;
    width: 70%;
    height: 40%;
    background-color: #FFE8A4;
    border-radius: 20px 20px;
    margin: 10% 15%;
    /* left: 50; */
    display: flex;
    border: 2px ridge #253E5C;
}

.profilavatar {
    width: 25%;
    height: 90%;
    margin: auto 2%;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid black;
}

.vl {
    border-right: 1px solid black;
    height: 95%;
    width: 1%;
    margin: auto 0;
}

.profilinfo {
    margin: auto 2%;
    font-size: 150%;
}

.profilname {
    margin-bottom: 25%;
}

#profilposts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
    width: 90%;
    height: 90%;
    position: absolute;
    /* background-color: red; */
    /* justify-content: space-between; */
    margin: 30% 4%;
    text-align: center;
    /* min-height: 100vh; */
    padding-bottom: 2%;
}

#profilpostedposts {
    background-color: #FFE8A4;
    overflow: auto;
    height: 42%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#profillikedposts {
    background-color: #FFE8A4;
    overflow: auto;
    height: 42%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#profilansweredposts {
    background-color: #FFE8A4;
    overflow: auto;
    height: 42%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

#profilposts h1 {
    padding-bottom: 2%;
    text-decoration: underline;
    font-weight: 400;
}

/* #profilpostedposts, #profillikedposts, #profilansweredposts {
    border: 2px solid black;
}

#profilpostedposts {
    border-left: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#profillikedposts {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
}

#profilansweredposts {
    border-right: 4px solid black;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
} */