{{define "profil"}}

<div class="profilcard">
    <div class="profilavatar"></div>
    <div class="vl"></div>
    <div class="profilinfo">
        <div class="profilname">
            <p><b>Nom d'utilisateur:</b> xXx_theKiller78</p>
        </div>
        <div class="profilrank">
            <p><b>Rang d'utilisateur:</b> user</p>
        </div>
    </div>
</div>
<div id="profilposts">
    <div id="profilpostedposts"></div>
    <div id="profillikedposts"></div>
    <div id="profilansweredposts"></div>
</div>
{{end}}