<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style/components/postCard.css">
    <title>Document</title>
</head>

<body>
    <div class="postCard">
        <img class="pp" src="https://cdn.kapwing.com/video_image-PKArdCjxK.png">
        <div class="middleCard">
            <div class="pseudo-text">
                <h2>Pseudo</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit !!</p>
            </div>
            <div class="pastilles">
                <div class="pastille-santé">
                    <p>Santé</p>
                </div>
                <div class="pastille-santé">
                    <p>Santé</p>
                </div>
            </div>
        </div>
        <div class="rightCard">
            <p id="postDate">Date/2022 16:30</p>
            <div class="upvote vote circle">
        </div>
    </div>
</body>

</html>